body{
    background-color: #ffff;
    padding: 20px 0;
}

html{
    font-size: 14px;
    font-family: 'Open Sans';
}
  
h1{
    font-size: 30px;
    text-align: left;
}
  
h1{
    margin: 0;
    padding: 20px 0;
    color: black;
}
  
img{
    margin: left;
}